button {
    background-color: navy;
}

a {
    color: navy;
}

ul {
    list-style: none;
    padding: 0;
}

p {
    color: #444;
}

nav p {
    color: white;
    font-size: 1.1rem;
    margin: 0 auto;
}

nav {
    text-align: center;
    padding: 10 10 10 10;
    max-width: 2000px;
    max-height: 200px;
    background-color: white;
    display: flex;
}

br {
    margin: auto 100;
}

.left-form {
    flex: 1;
}

.right-form {
    flex: 1;
}

.clearfix {
    clear: both;
}

button:focus {
    outline: 0;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 100px 50px;
    text-align: center;
}

.indented {
    padding-left: 450;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.login {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px 50px;
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
}

.page-description {
    font-size: 1.1rem;
    margin: 0 auto;
}

.tz-link {
    font-size: 1em;
    color: #1da7da;
    text-decoration: none;
}

.no-browser-support {
    display: none;
    font-size: 1.2rem;
    color: navy;
    margin-top: 35px;
}

.app {
    margin: 40px auto;
}

#note-textarea {
    margin: 20px 0;
}

#recording-instructions {
    margin: 15px auto 60px;
}

#notes {
    padding-top: 20px;
}

.note .header {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 10px;
}

.note .delete-note,
.note .listen-note {
    text-decoration: none;
    margin-left: 15px;
}

.note .content {
    margin-bottom: 40px;
}